{% extends "bootstrap/base.html" %}

{%block content%}

<form action="" method=post enctype=multipart/form-data>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-4 col-md-offset-4">
        <hr>
            <h3 class="text-info">Проверка файла на вирусы</h3>
            <p> Наша система проверяет является ли файл врусом, используя машинное обучение.</p>

            <div class="box">

              <form action="#" method="post" class="text-center">
                <div class="margin-bottom-20">
                  <img class="thumbnail box-center margin-top-20" alt="No image" src="https://pp.userapi.com/c844416/v844416167/149903/u1HEoBOi6QE.jpg">
                </div>
              </form>

              <div class="row">
                <div class="col-sm-8">
                  <span class="control-fileupload">
                    <label for="file"  class="text-left">Пожаулйста выберете файл на вашем компьютере.</label>
                    <input type="file" id="file" name="file">
                  </span>
                </div>
                <div class="col-sm-4">
                  <input type=submit class="btn btn-primary btn-block">
                    <i class="icon-upload icon-white"></i>
                </div>
              </div>
            </div>
        <hr>
    </div>
</form>

{%endblock %}
